@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#menu-0 .nav-link {
  font-size: 16px;
}
#header1-1 H1 {
  text-align: center;
  font-size: 30px;
}
#header1-1 P {
  font-size: 20px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  color: #000000;
}
#header1-1 B {
  color: #f1c050;
  font-size: 46px;
}
#header1-1 I {
  color: #000000;
  font-size: 20px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-n .navbar-toggler {
  color: #ffffff;
}
#menu-n .navbar-brand {
  font-size: 30px;
}
#menu-n .nav-link {
  font-size: 16px;
}
