@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

#menu-0 .navbar-toggler {
  color: #abdbf2;
}
#header1-1 H1 {
  text-align: center;
  font-size: 30px;
}
#header1-1 P {
  font-size: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-8 UL {
  color: #000000;
}
#contacts1-8 STRONG {
  color: #000000;
}
#contacts1-8 P {
  color: #000000;
}
#menu-0 .navbar-toggler {
  color: #abdbf2;
}
